<!doctype html>
<html>
   <head>
      <!-- Automatically refresh web page every 10 seconds  -->    
      <meta http-equiv="refresh" content="10">
   </head>
   <body>
      <table border = 1>
            <tr>
               <th> data </th>
               <td> {{value}}</td>
            </tr>
      </table>
   </body>
</html>